@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@theme {
    --font-sans: "Nunito Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-primary-blue: #004B88;
    --color-dark-blue: #374957;
    --color-background-grey: #F0F2F5;
}

@layer base {
    body {
        @apply text-dark-blue font-sans;
    }
}
